<div class="container">
  <br>
  <div class="card text-center">
    <h2><%= @todo.description %></h2>
    <h2>Completed = <%= @todo.completed %></h2>
  </div>
  <br>
  <%= link_to 'Back', todos_path,class: 'btn btn-success' %>
  <%= link_to 'Edit', edit_path,class: 'btn btn-warning' %>
</div>